html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 16.8rem 2rem;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1440px) {
  body {
    margin-top: 8.6rem;
    margin-bottom: 8.6rem;
  }
}

h1,
p {
  font-family: "Libre Franklin", sans-serif;
}

.flex-signup-form, .logo-img, #main,
#footer {
  margin-left: auto;
  margin-right: auto;
}

#main,
#footer {
  min-width: 37.5rem;
  max-width: 64rem;
}

.logo-img {
  display: block;
  margin-bottom: 7.8rem;
  width: 10.8rem;
  height: auto;
}
@media screen and (min-width: 1440px) {
  .logo-img {
    margin-bottom: 4.8rem;
    width: 8.6rem;
  }
}

.headline {
  margin-bottom: 3.5rem;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
@media screen and (min-width: 1440px) {
  .headline {
    margin-bottom: 1.7rem;
    font-size: 4.73rem;
    letter-spacing: 0.05rem;
  }
}
.headline--emph {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

.copy {
  margin-bottom: 6.5rem;
  text-align: center;
  font-size: 2.41rem;
  font-weight: 300;
  color: hsl(209, 33%, 12%);
}
@media screen and (min-width: 1440px) {
  .copy {
    margin-bottom: 3.8rem;
    font-size: 2rem;
  }
}

.flex-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 13.7rem;
  max-width: 56rem;
}
@media screen and (min-width: 1440px) {
  .flex-signup-form {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8.5rem;
    max-width: none;
  }
}
.flex-signup-form__email-input {
  margin-bottom: 2.1rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 6.5rem;
  width: 100%;
  border: 0.2rem solid hsl(223, 100%, 88%);
  border-radius: 4rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  letter-spacing: 0.06rem;
}
.flex-signup-form__email-input--on-err {
  border-color: hsl(354, 100%, 66%);
}
@media screen and (min-width: 1440px) {
  .flex-signup-form__email-input {
    margin-bottom: 0;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 3.2rem;
    max-width: 42.2rem;
    font-size: 1.6rem;
    letter-spacing: 0;
  }
}
.flex-signup-form__submit-btn {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 4rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background-color: hsl(223, 87%, 63%);
}
@media screen and (min-width: 1440px) {
  .flex-signup-form__submit-btn {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    max-width: 20rem;
    font-size: 1.6rem;
  }
}
.flex-signup-form__submit-btn--hover {
  background-color: hsla(223, 87%, 63%, 0.8);
  cursor: pointer;
}
.flex-signup-form__err-msg {
  display: none;
  margin-top: -0.7rem;
  margin-bottom: 4.6rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  color: hsl(354, 100%, 66%);
}
@media screen and (min-width: 1440px) {
  .flex-signup-form__err-msg {
    display: block;
    visibility: hidden;
  }
}
.flex-signup-form__err-msg--on-err {
  display: block;
}
@media screen and (min-width: 1440px) {
  .flex-signup-form__err-msg--on-err {
    visibility: visible;
  }
}

.illustration-img {
  display: block;
  margin-bottom: 24.1rem;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1440px) {
  .illustration-img {
    margin-bottom: 7.2rem;
  }
}

.flex-socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  margin-bottom: 4.6rem;
}
@media screen and (min-width: 1440px) {
  .flex-socials-list {
    gap: 1.3rem;
    margin-bottom: 1.7rem;
  }
}
.flex-socials-list__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid hsl(223, 100%, 88%);
  border-radius: 50%;
}
@media screen and (min-width: 1440px) {
  .flex-socials-list__icon-wrapper {
    width: 3rem;
    height: 3rem;
  }
}
.flex-socials-list__icon-wrapper--hover {
  background-color: hsl(223, 87%, 63%);
  border-color: hsl(223, 87%, 63%);
  cursor: pointer;
}
.flex-socials-list__icon {
  font-size: 3rem;
  color: hsl(223, 87%, 63%);
}
@media screen and (min-width: 1440px) {
  .flex-socials-list__icon {
    font-size: 1.5rem;
  }
}
.flex-socials-list__icon--hover {
  color: hsl(0, 0%, 100%);
}

.copyright {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
@media screen and (min-width: 1440px) {
  .copyright {
    font-size: 1.2rem;
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url("./design/mobile-error-state.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 75rem auto;
}
@media screen and (min-width: 1440px) {
  body {
    background-image: url("./design/desktop-hover-error-states.jpg");
    background-size: 144rem auto;
  }
}

#main,
#footer {
  opacity: 0.5;
}

/*# sourceMappingURL=styles.css.map */
