html
  font-size: 62.5%

  
// Breakpoint
$breakpoint: 992px


// Fonts
$font-stack: 'Libre Franklin', sans-serif
$light: 300
$semibold: 600
$bold: 700
  

// Colors

// Primary
$blue: hsl(223 87% 63%)

// Secondary
$pale-blue: hsl(223 100% 88%)
$light-red: hsl(354 100% 66%)

// Neutral
$gray: hsl(0 0% 59%)
$very-dark-blue: hsl(209 33% 12%)


// CSS Reset
* > *
  box-sizing: border-box
  margin-top: 0
  
  
// Base

body
  margin: 16.8rem 2rem
  background-color: white

  @media screen and (min-width: $breakpoint)
    margin-top: 8.6rem
    margin-bottom: 8.6rem

h1,
p
  font-family: $font-stack


// Layout

%center
  margin-left: auto
  margin-right: auto 

#main,
#footer
  @extend %center
  min-width: 37.5rem
  max-width: 64rem


// Blocks

.logo-img
  display: block
  margin-bottom: 7.8rem
  @extend %center 
  width: 10.8rem
  height: auto

  @media screen and (min-width: $breakpoint)
    margin-bottom: 4.8rem
    width: 8.6rem

.headline
  margin-bottom: 3.5rem
  text-align: center
  font-size: 4.4rem
  font-weight: $light
  color: $gray

  @media screen and (min-width: $breakpoint)
    margin-bottom: 1.7rem
    font-size: 4.73rem
    letter-spacing: 0.05rem
  
  &--emph
    font-weight: $bold
    color: $very-dark-blue

.copy
  margin-bottom: 6.5rem
  text-align: center
  font-size: 2.41rem
  font-weight: $light
  color: $very-dark-blue

  @media screen and (min-width: $breakpoint)
    margin-bottom: 3.8rem
    font-size: 2rem

.flex-signup-form
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  @extend %center
  margin-bottom: 13.7rem
  max-width: 56rem
  
  @media screen and (min-width: $breakpoint)
    flex-direction: row
    justify-content: space-between
    margin-bottom: 8.5rem
    max-width: none 
  
  &__email-input
    margin-bottom: 2.1rem
    padding-top: 2.4rem
    padding-bottom: 2.4rem
    padding-left: 6.5rem
    width: 100%
    border: 0.2rem solid $pale-blue
    border-radius: 4rem
    font-family: $font-stack
    font-size: 2.3rem
    font-weight: $light
    color: $gray
    letter-spacing: 0.06rem

    @media screen and (min-width: $breakpoint)
      margin-bottom: 0
      padding-top: 1.8rem
      padding-bottom: 1.8rem
      padding-left: 3.2rem
      max-width: 42.2rem
      font-size: 1.6rem
      letter-spacing: 0
    
  &__submit-btn
    padding-top: 2.5rem
    padding-bottom: 2.5rem
    width: 100%
    border: none
    border-radius: 4rem
    font-family: $font-stack
    font-size: 2.4rem
    font-weight: $semibold
    color: white
    background-color: $blue
    
    @media screen and (min-width: $breakpoint)
      padding-top: 1.9rem
      padding-bottom: 1.9rem
      max-width: 20rem
      font-size: 1.6rem

.illustration-img
  display: block
  margin-bottom: 24.1rem
  width: 100%
  height: auto

  @media screen and (min-width: $breakpoint)
    margin-bottom: 7.2rem

.flex-socials-list
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 2.7rem
  margin-bottom: 4.6rem

  @media screen and (min-width: $breakpoint)
    gap: 1.3rem
    margin-bottom: 1.7rem

  &__icon-wrapper
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 1rem
    width: 6rem
    height: 6rem
    border: 0.1rem solid $pale-blue
    border-radius: 50%

    @media screen and (min-width: $breakpoint)
      width: 3rem
      height: 3rem

  &__icon
    font-size: 3rem
    color: $blue

    @media screen and (min-width: $breakpoint)
      font-size: 1.5rem
  
.copyright
  text-align: center
  font-size: 2rem
  font-weight: $light
  color: $gray

  @media screen and (min-width: $breakpoint)
    font-size: 1.2rem
  
.attribution 
  font-size: 1.1rem
  text-align: center

.attribution a 
  color: hsl(228 45% 44%)


// Development redefinition level

body
  background:
    image: url("./design/mobile-design.jpg")
    repeat: no-repeat
    position: left top 
    size: 75rem auto

  @media screen and (min-width: $breakpoint)
    background:
      image: url("./design/desktop-design.jpg")
      size: 144rem auto

#main,
#footer
  opacity: 0.5