.flex-signup-form__submit-btn:focus-visible, .flex-signup-form__submit-btn:hover {
  background-color: hsla(223, 87%, 63%, 0.8);
  cursor: pointer;
}

.flex-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 13.7rem;
  width: 75%;
}
@media screen and (min-width: 992px) {
  .flex-signup-form {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 8.5rem;
    max-width: 56rem;
  }
}
.flex-signup-form__email-container {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .flex-signup-form__email-container {
    width: 75%;
  }
}
.flex-signup-form__email-input {
  display: block;
  border-radius: 4rem;
  padding: 2.4rem 0 2.4rem 6.5rem;
  border: 0.2rem solid hsl(223, 100%, 88%);
  width: 100%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
  color: hsl(209, 33%, 12%);
}
.flex-signup-form__email-input--on-err {
  border-color: hsl(354, 100%, 66%);
}
.flex-signup-form__email-input::placeholder {
  color: hsl(0, 0%, 59%);
}
.flex-signup-form__email-input:focus-visible {
  border-color: hsl(223, 87%, 63%);
}
.flex-signup-form__err-msg {
  display: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: hsl(354, 100%, 66%);
}
@media screen and (min-width: 992px) {
  .flex-signup-form__err-msg {
    display: block;
    text-align: left;
    visibility: hidden;
  }
}
.flex-signup-form__err-msg--on-err {
  display: block;
}
@media screen and (min-width: 992px) {
  .flex-signup-form__err-msg--on-err {
    visibility: visible;
  }
}
@media screen and (min-width: 992px) {
  .flex-signup-form__err-msg {
    margin-bottom: 0;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 3.2rem;
    max-width: 42.2rem;
    font-size: 1.6rem;
    letter-spacing: 0;
  }
}
.flex-signup-form__submit-btn {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 4rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background-color: hsl(223, 87%, 63%);
}
@media screen and (min-width: 992px) {
  .flex-signup-form__submit-btn {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    font-size: 1.6rem;
  }
}
.flex-signup-form *:focus-visible {
  outline: none;
}

.flex-socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  margin-bottom: 4.6rem;
}
@media screen and (min-width: 992px) {
  .flex-socials-list {
    gap: 1.3rem;
    margin-bottom: 1.7rem;
  }
}
.flex-socials-list__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid hsl(223, 100%, 88%);
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .flex-socials-list__icon-wrapper {
    width: 3rem;
    height: 3rem;
  }
}
.flex-socials-list__icon-wrapper:hover {
  background-color: hsl(223, 87%, 63%);
  border-color: hsl(223, 87%, 63%);
  cursor: pointer;
}
.flex-socials-list__icon {
  font-size: 3rem;
  color: hsl(223, 87%, 63%);
}
@media screen and (min-width: 992px) {
  .flex-socials-list__icon {
    font-size: 1.5rem;
  }
}
.flex-socials-list__icon-wrapper:hover > .flex-socials-list__icon {
  color: hsl(0, 0%, 100%);
}

:root {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 100%);
}

h1,
p {
  font-family: "Libre Franklin", sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  min-width: 57.6rem;
  max-width: 75rem;
}

.logo-img {
  display: block;
  margin-bottom: 7.8rem;
  width: 10.8rem;
  height: auto;
}
@media screen and (min-width: 992px) {
  .logo-img {
    margin-bottom: 4.8rem;
    width: 8.6rem;
  }
}

.headline {
  margin-bottom: 3.5rem;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
@media screen and (min-width: 992px) {
  .headline {
    margin-bottom: 1.7rem;
    font-size: 4.73rem;
    letter-spacing: 0.05rem;
  }
}
.headline--emph {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

.copy {
  margin-bottom: 6.5rem;
  text-align: center;
  font-size: 2.41rem;
  font-weight: 300;
  color: hsl(209, 33%, 12%);
}
@media screen and (min-width: 992px) {
  .copy {
    margin-bottom: 3.8rem;
    font-size: 2rem;
  }
}

.illustration-img {
  display: block;
  margin-bottom: 24.1rem;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 992px) {
  .illustration-img {
    margin-bottom: 7.2rem;
  }
}

.copyright {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
@media screen and (min-width: 992px) {
  .copyright {
    font-size: 1.2rem;
  }
}

body {
  margin-top: 10rem;
}

/*# sourceMappingURL=style.css.map */
