// Breakpoint
$x-small: 576ps
$breakpoint: 992px
// $breakpoint: 1440px

// Fonts
$font-stack: 'Libre Franklin', sans-serif
$light: 300
$semibold: 600
$bold: 700

// Colors

// Primary
$blue: hsl(223 87% 63%)
$blue-hover: hsl(223 87% 63% / 0.8)

// Secondary
$pale-blue: hsl(223 100% 88%)
$light-red: hsl(354 100% 66%)

// Neutral
$gray: hsl(0 0% 59%)
$very-dark-blue: hsl(209 33% 12%)
$white: hsl(0 0% 100%)